* {
  box-sizing: border-box;
}
.mainContent {
  display: flex;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: grey;
}
.sidebar {
  width: 15vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(185, 172, 172);
}
.footer {
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: grey;
}
.main {
  height: 90vh;
  width: 100%;
}
.content {
  flex: 1;
  max-height: 80vh;
  overflow-y: scroll;
}