@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Roboto';
}
.mainContent {
  display: flex;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: grey;
}
.sidebar {
  width: 15vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(185, 172, 172);
}
.footer {
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: grey;
}
.main {
  height: 90vh;
  width: 100%;
}
.content {
  flex: 1;
  max-height: 80vh;
  overflow-y: scroll;
  text-align: center;
  position: relative;
}
.content * {
  margin: 0 auto;
}
.searchBar {
  text-align: center;
  padding: 10px;
  display: flex;
}
.searchBar input {
  width: 70%;
  border: 1px solid #dee5eb;
  height: 42px;
  font-size: 20px;
  margin-right: 0;
}
.searchBar button {
  width: 15%;
  color: white;
  margin-left: 0;
  background-color: #7b8395;
  height: 42px;
}
.infoOfCar {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.panel {
  margin-top: 15px;
  background-color: rgb(231, 211, 211);
  color: blue;
  text-align: left;
  padding: 7px;
  height: 40px;
  display: flex;
  align-items: center;
  width: 85%;
  box-shadow: -1px 4px 9px 8px rgba(34, 60, 80, 0.2);
}
.active {
  background-color: rgb(187, 113, 113);
  color: white;
}

.stylePanel:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(187, 113, 113);
}
table {
  border: 1px solid #eee;
  table-layout: fixed;
}
.mainTable {
  width: 85%;
  box-shadow: -1px 4px 20px 3px rgba(34, 60, 80, 0.2);
}
table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
table td {
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: center;
}
table tbody tr:nth-child(odd) {
  background: #fff;
}
table tbody tr:nth-child(even) {
  background: #f7f7f7;
}
thead tr th:first-child,
tbody tr td:first-child {
  width: 10em;
  min-width: 15em;
  max-width: 15em;
  text-align: left;
}
